{{#each dockerCommands}}
   <h2>{{ command }} Command</h2>
   {{ description }}
   <br /><br />
   
   {{#each examples}}
        <h3>{{ example }}</h3>
        {{ description }}
        <br />
   {{/each}}
   
   <br><br>
{{/each}}
