<form class="mb-6" method="post">
  <div class="flex flex-col mb-4">
    <label class="mb-2 font-bold text-lg" for="command">Command</label>
    <input class="py-2 px-3" type="text" name="command" id="command">
  </div>
  <div class="flex flex-col mb-4">
    <label class="mb-2 font-bold text-lg" for="description">Description</label>
    <textarea class="py-4 px-3" name="description" id="description"></textarea>
  </div>
  <div class="flex flex-col mb-4">
    <label class="mb-2 font-bold text-lg" for="example">Example</label>
    <input class="py-2 px-3" type="text" name="example" id="example">
  </div>
  <div class="flex flex-col mb-4">
    <label class="mb-2 font-bold text-lg" for="ex_description">Example Description</label>
    <input class="py-2 px-3" type="text" name="ex_description" id="ex_description">
  </div>
  <button type="submit" class="text-lg p-2 rounded">Add Command</button>
</form>